<button
  type="button"
  class="lesson"
  data-lesson-template="lesson-<%= academy_module.fetch("slug") %>-<%= lesson.fetch("slug") %>"
>
  <span class="lesson-num"><%= lesson.fetch("number") %></span>
  <span>
    <strong><%= lesson.fetch("title") %></strong>
    <small><%= lesson.fetch("description") %></small>
  </span>
  <span class="lesson-status">✓ disponibile</span>
</button>

<template id="lesson-<%= academy_module.fetch("slug") %>-<%= lesson.fetch("slug") %>">
  <article class="academy-lesson-content">
    <%= academy_markdown(lesson.fetch("content_path")) %>
  </article>
</template>
